* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a740c5;
  box-shadow: 0 0 15px var(--bg-color);
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a740c5;
}
